<div class="main-content" *ngIf="selectedUser">
    <div class="container-fluid">
        <div class="row">



            <div class="col-md-4" style=" margin-bottom: 15px;margin-top: 90px " fxLayout="column" fxLayoutAlign="center">
                
              
                <div class="card card-profile" >
                      <div class="form-group" class="card-avatar" *ngIf="selectedUser">
                          <a class= "image" fxLayout="column" fxLayoutAlign="center center">
                            <img (click)="openDialog()"  class="img" matInput placeholder="file" type="file" [src]='selectedUser.file' />
                          </a>
                          <div class="overlay">
                            <div class="text">CO-FUNDER</div>
                          </div>
  
  
                          
                    
                      <div *ngIf="selectedUser" class="card-body" style="margin-top:50px; margin-bottom: 15px;" fxLayout="column" fxLayoutAlign="center center">
                          <h6 class="card-category text-gray">Regular Account</h6>
                          <h4 class="card-title">{{selectedUser.username}}
                          </h4>
                          <p class="card-description" fxLayoutAlign="center center" style="max-width: 300px;" maxlength="50">
                              {{selectedUser.about}}
                          </p>
                          <a  fxLayoutAlign="center center" style="height: 100%; width:100%; border-radius: 100px; color: white;" class="btn btn-danger btn-round one">Follow</a>
                      </div>
                  </div>
              </div>
          </div>



<!--      
          <div>
            <div *ngIf="response && imageURL">
              <img [src]='imageURL' />
            </div>
          
            <form [formGroup]="form" (ngSubmit)="onSubmit()">
          
                <input type="text" name="password1"  />
                <input type="text" name="password2"  />
                <input type="text" name="username"  />


              <input type="file" name="profile" (change)="onChange($event)" />
              <button type="submit">Upload Image File</button>
          
            </form>
          </div> -->







            <div class="col-md-8" style="margin-top:15px; margin-bottom: 15px;">
                <div class="card" style="padding: 20px;" >
                    <div  class="card-header card-header-danger" style="background-color:black; color: white" fxLayout="column" fxLayoutAlign="center center">
                        <h4 class="card-title">Update Profile</h4>
                        <p class="card-category">Complete your profile</p>
                    </div>
                    <div class="card-body" >
                        <form [formGroup]="updateForm" (ngSubmit)="onSubmit()"> 
                            <div class="row" *ngIf="selectedUser" >
                                
                                <div class="form-group" class="col-md-6" >
                                    <mat-form-field class="example-full-width" >


                                        <!-- x= class="form-control" -->

                                        <!-- [ngModelOptions]="{standalone: true}"  addd for ng module submitip -->
                                      <input  formControlName="username" readonly  matInput placeholder="Username (disabled)" [(ngModel)]="selectedUser.username" >
                                      <!-- disabled -->
                                    </mat-form-field>
                                </div>
                                <div class="form-group" class="col-md-6" >
                                    <mat-form-field class="example-full-width">
                                      <input formControlName="email"  matInput placeholder="Email address" type="email" [(ngModel)]="selectedUser.email" >
                                    </mat-form-field>
                                </div>
                            </div>
                            <div class="form-group" class="row" *ngIf="selectedUser" >
                                <div class="col-md-6">
                                  <mat-form-field class="example-full-width">
                                    <input formControlName="first_name"  matInput placeholder="Fist Name" type="text" [(ngModel)]="selectedUser.first_name" >
                                  </mat-form-field>
                                </div>
                                <div class="form-group" class="col-md-6">
                                  <mat-form-field class="example-full-width">
                                    <input formControlName="last_name"  matInput placeholder="Last Name" type="text" [(ngModel)]="selectedUser.last_name" >
                                  </mat-form-field>
                                </div>
                            </div>
                            <div  class="form-group" class="row" *ngIf="selectedUser">
                                <div class="col-md-12">
                                  <mat-form-field class="example-full-width">
                                    <input formControlName="adress"  matInput placeholder="Adress" type="text" [(ngModel)]="selectedUser.adress" >
                                  </mat-form-field>
                                </div>
                            </div>
                            <div  class="form-group" class="row" *ngIf="selectedUser">
                                <div class="col-md-4">
                                  <mat-form-field class="example-full-width">
                                    <input formControlName="city"  matInput placeholder="City" type="text" [(ngModel)]="selectedUser.city" >
                                  </mat-form-field>
                                </div>
                                <div class="form-group" class="col-md-4">
                                  <mat-form-field class="example-full-width">
                                    <input formControlName="country"  matInput placeholder="Country" type="text" [(ngModel)]="selectedUser.country" >
                                  </mat-form-field>
                                </div>
                                <div class="form-group" class="col-md-4">
                                  <mat-form-field class="example-full-width">
                                    <input formControlName="pin"  matInput placeholder="Postal Code" type="text" [(ngModel)]="selectedUser.pin" >
                                  </mat-form-field>
                                </div>
                            </div>
                            <div class="form-group" class="row" *ngIf="selectedUser">
                                <div class="col-md-12">
                                  <label class="bmd-label-floating">About Me</label>
                                  <mat-form-field class="example-full-width">
                                     <textarea formControlName="about"  rows="5" matInput placeholder="Tall about your self in 50 words." [(ngModel)]="selectedUser.about" ></textarea>
                                   </mat-form-field>
                                    <div class="form-group">
  
                                        
                                    </div>
                                </div>
                            </div>
                            
                            <div class="clearfix">

                                <div [hidden]="!submitted" class="row" *ngIf="selectedUser"  >
                                
                                    <div class="form-group" class="col-md-6" >
                                        <mat-form-field class="example-full-width" >
                                          <input  formControlName="password1" readonly matInput placeholder="username" [(ngModel)]="selectedUser.username"  >
                                        </mat-form-field>
                                    </div>
                                    <div class="form-group" class="col-md-6" >
                                        <mat-form-field class="example-full-width">
                                          <input formControlName="password2"  matInput placeholder="confirm username" type="email" [(ngModel)]="selectedUser.username" >
                                        </mat-form-field>
                                    </div>
                                </div>

 
                                    <button mat-raised-button type="submit"  class="btn btn-danger pull-right" style="color: white; background-color:black; ">Update Profile</button>


                            </div>
                        </form>
                    </div>
                </div>
            </div>

     
    </div>
  </div>
</div>
  


  