@import '../../styles-variables';


mat-toolbar{
    border-radius: 3px;
    height: 200px;
}
 
@media(max-width: 959px){
    mat-toolbar{
        border-radius: 0px;
    }
}



  .footer {
    flex: 0 0 auto;
    padding: 0px;
    text-align: center;
    // color:black;
    background-color: dimgray;
    font-family: 'Dancing Script', cursive;

    .row {
      padding: 10px 0;

      .links {
        a {
          transition: padding 0.5s;
          display: inline-block;
          padding: 20px 5px;


          &:hover {
            text-decoration: none;
            color:black;
          }

          fa-icon {
            font-size: 30px;
            width: 35px;
            // color:green;
            background-color: #f5f5f5;
          }

          span {
            display: inline-block;
            width: 75px;
            padding: 0 0 0 3px;
            overflow: hidden;
            text-align: left;
            white-space: nowrap;
            transition: width 0.5s;
            color: #000;
          }
        }

        @media (min-width: map-get($grid-breakpoints, lg)) {
          a {
            padding: 20px 10px;
          }
        }

        @media (max-width: map-get($grid-breakpoints, md)) {
          a {
            padding: 20px;

            span {
              width: 0;
              padding: 0;
            }
          }
        }

        @media (max-width: map-get($grid-breakpoints, sm)) {
          a {
            padding: 20px 5px;
          }
        }
      }

      @media (min-width: map-get($grid-breakpoints, sm)) {
        .signature {
          position: relative;

          a {
            position: absolute;
            right: 15px;
          }
        }
      }

      

      @media (max-width: map-get($grid-breakpoints, md)) {
        a {
          padding: 20px;

          span {
            width: 0;
            padding: 0;
          }
        }
      }
    }
  }


  .f1{
margin-top: 20px;
margin-bottom: 20px;
    // border-style: none dashed none dashed;
    color: #f5f5f5
    
      }
      .f2{
        margin-top: 20px;
        margin-bottom: 20px;
    // border-style: none dashed none dashed;
    color: #f5f5f5
    // border-style: hidden;
      }
      .f3{
        margin-top: 20px;
        margin-bottom: 20px;
        // border-style: none dashed none dashed;
        // border-style: hidden;
        color: #f5f5f5
          }

   
.abc{
  color: #f5f5f5;
  background-color: black;
  width: 100%;
  
}


//   .f3{
// // background-color: greenyellow;
// border-style: dotted dashed solid double;
//   }
//   .f4{
// // background-color: purple;
//   }








i{
  padding: 20px 20px;

}





widget-social{
  color: #f5f5f5;
  background-color: #f5f5f5;
}


































































































  // .footer {
//     flex: 0 0 auto;
//     padding: 0 15px;
//     text-align: center;
//     color: #7986cb;
//     background-color: #1a237e
    
// }
// .row {
//     padding: 10px 0;
// }


// fa-icon {
//     font-size: 30px;
//     width: 35px;
//   }

//   a{
//     transition: padding 0.5s;
//     display: inline-block;
//     padding: 20px 5px;
//   }

//   span {
//     display: inline-block;
//     width: 75px;
//     padding: 0 0 0 3px;
//     overflow: hidden;
//     text-align: left;
//     white-space: nowrap;
//     transition: width 0.5s;
   

//   }


//   hover {
//     text-decoration: none;
//   }


//   @media (max-width: map-get($grid-breakpoints, md)) {
  
//       span {
//         width: 0;
//         padding: 0;
//       }
    
//   }
  