<!-- <p>about works!</p> -->



<mat-card>


   
  <div class="w3-container" style="padding: 0px">
        <div class="container1">
           <img class="head" src="../../assets/aaa.jpg" >
          
           <div class="centered" rtl><a class="w3-center w3-animate-top">About Us</a></div>
           
         </div>
  </div>



<br>




<!------------------------------- our story------------------------------------------ -->


         <div class="about-story" fxLayoutAlign="center center" fxLayout="column"  fxLayout.xs="column">

            <h2>Our Story</h2>
            <h4>Your Dining Restaurant since 1989</h4>
              
  
           </div>
  
  
  
  
           <br>
           <br>
           <br>
           <br>
  
  
  
  <!-----------------------------FIRST SECTION -------------------------------------------------->
  
           <div class="w3-container " style="width: 100%; " fxLayout="row" fxLayout.xs="column"  fxLayoutAlign="center" fxLayoutGap="5%"> 
  
              <div class="about-story" fxFlex="35" fxLayoutGap="10%" fxLayout="column" fxLayout.xs="column">
              
                  <mat-card class="card-item">
                      <mat-card-title>


                         <img class="image-shadow js-tilt-container " src="../../../assets/card-1.gif" >
                          <!-- <div class="gallery">
                              <ul>
                                <li>A</li>
                                <li>B</li>
                                <li>C</li>
                                <li>D</li>
                                <li>E</li>
                                <li>6</li>
                                <li>7</li>
                                <li>8</li>
                                <li>9</li>
                              </ul>
                         
                              </div> -->
                      </mat-card-title>
                      
                      
                      
                    </mat-card>
           
                  </div>
          
          
            <div class="about-story" fxFlex="40" fxLayoutGap="10%" fxLayoutAlign="centered" fxLayout="column"  >

              <div class="card-item"  >
  
  
                  <div class="img" >
                      <h2 fxLayoutAlign="center center">Fine Dining</h2>
                       <p>Steak House is free HTML website template for everyone. Please inform your friends about Tooplate site.</p>
                       <p>Vestibulum id iaculis nisl. Pellentesque nec tortor sagittis, scelerisque ante at, sollicitudin leo. Vivamus pulvinar a justo vel lobortis.</p>
                       
                    
                          Donec fringilla ipsum
                          Integer nec urna
                          Curabitur porta
                       
                </div>
            
            
                <div>
            
                    <h3>Nunc ullamcorper suscipit neque, ac malesuada purus molestie non.</h3>
            
                    <p>Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonummy nibh euismod tincidunt. Lorem ipsum dolor sit amet.</p>
                   </div>
                   </div>      
                
              
              </div>   
          
           </div>

    
  
  
  <br>
  <br>
  <br>
  <br>
  
  <!---------------------------------SECOND SECTION-------------------------------->
  <br>
  <br>
  <br>
  
  <div class="w3-container" style="width: 100%; " fxLayout="row" fxLayout.xs="column"   fxLayoutGap="5%" fxLayoutAlign="center"> 
  
      <div class="about-story" fxFlex="40" fxLayoutGap="10%" fxLayoutAlign="end" fxLayout="column" >
        
          <div class="card-item" >

          <div class="img"  >
            <h2 fxLayoutAlign="center center">Fine Dining</h2>
             <p>Steak House is free HTML website template for everyone. Please inform your friends about Tooplate site.</p>
             <p>Vestibulum id iaculis nisl. Pellentesque nec tortor sagittis, scelerisque ante at, sollicitudin leo. Vivamus pulvinar a justo vel lobortis.</p>
             
            
                Donec fringilla ipsum
              Integer nec urna
                Curabitur porta
             
           </div>
   
  
  
           <div>
  
              <h3>Nunc ullamcorper suscipit neque, ac malesuada purus molestie non.</h3>
  
               <p>Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonummy nibh euismod tincidunt. Lorem ipsum dolor sit amet.</p>

           </div>
          </div>
         </div>
  
  
         <div class="about-story" fxFlex="35" fxLayoutGap="10%" fxLayout="column" fxLayoutAlign="end" >
     
               <mat-card class="card-item">
                <mat-card-title>
                    <img class="image-shadow js-tilt-container" src="../../../assets/card-1.gif" >    
        
                </mat-card-title>
               
               
                
              </mat-card>
            </div>
          </div>
        
      
    
  
  
  <br>
  <br>
  <br>
  <br>
  
  <!-----------------------------CHEFFFFFFF-------------------------->
  
  <div class="about-story" fxLayoutAlign="center center" fxLayout="column"  fxLayout.xs="column">
  
      <h2>Meet Our Chefs</h2>
      <h4>we are food specialists</h4>
        
  
  </div>
  
  
  <br>
  <br>
  
  
  
  <div class="about-story" fxLayout="row" fxLayout.xs="column" fxLayoutAlign="center center" fxLayoutGap="6%" >
  
      <div fxFlex="25" >
  
          
          <mat-card class="example-card-one" >
              <mat-card-header fxLayoutAlign="center center">
             
                 <mat-card-title fxLayoutAlign="center center">Richard stallin</mat-card-title>
                <mat-card-subtitle fxLayoutAlign="center center">Chefs</mat-card-subtitle>
               
              </mat-card-header>
  
  
  
  
             <div class="container">
              <img  mat-card-image src="../../../assets/chefs-one.jpg" height="225px" alt="Photo of a Shiba Inu">
  
                  <div class="overlay">
                    <div class="text">CO-FUNDER</div>
                  </div>
                </div>
          
  
              <mat-card-content fxLayoutAlign="center center" fxLayoutGap="6%">
                  <!-- <div class="widget-social"> -->
                      <a href="https://www.facebook.com/ColCacchio/" style="font-size:30px; border-style: none none none none; " target="_blank" original-title="Facebook">
                        <i class="fa fa-facebook" style="color: black; "></i>
              
                    </a>
                    <a href="https://twitter.com/ColCacchio" style="font-size:30px; border-style: none none none none; " target="_blank" original-title="Twitter">
                      <i class="fa fa-twitter" style="color: black"></i>
              
                  </a>
                  <a href="https://www.instagram.com/colcacchio/" style="font-size:30px; border-style: none none none none; " target="_blank" original-title="Instagram">
                    <i class="fa fa-instagram" style="color: black"></i>
              
                </a>  

                  
                  <!-- </div> -->
              </mat-card-content>
              <mat-card-actions>
               
              </mat-card-actions>
            </mat-card>
  
         
  
      </div>
  
  
  
      <div fxFlex="25" >
  
        
          <mat-card class="example-card-one">
              <mat-card-header fxLayoutAlign="center center">
                <!-- <div mat-card-avatar class="example-header-image-one"></div> -->
                 <mat-card-title fxLayoutAlign="center center">Shiba Inu</mat-card-title>
                <mat-card-subtitle fxLayoutAlign="center center">Chefs</mat-card-subtitle>
               
              </mat-card-header>
  
  
  
  
             <div class="container">
              <img  mat-card-image src="../../../assets/chefs-two.jpg" height="225px" alt="Photo of a Shiba Inu">
  
                  <div class="overlay">
                    <div class="text">SENIOR-CHEF</div>
                  </div>
                </div>
          
      
  
              <mat-card-content fxLayoutAlign="center center"  fxLayoutGap="6%">
                 
                      <a href="https://www.facebook.com/ColCacchio/" style="font-size:30px; border-style: none none none none; " target="_blank" original-title="Facebook">
                        <i class="fa fa-facebook" style="color: black"></i>
              
                    </a>
                    <a href="https://twitter.com/ColCacchio" style="font-size:30px; border-style: none none none none; " target="_blank" original-title="Twitter">
                      <i class="fa fa-twitter" style="color: black"></i>
              
                  </a>
                  <a href="https://www.instagram.com/colcacchio/" style="font-size:30px; border-style: none none none none; " target="_blank" original-title="Instagram">
                    <i class="fa fa-instagram" style="color: black"></i>
              
                </a>
                
                  
                  
                 
              </mat-card-content>
              <mat-card-actions>
               
              </mat-card-actions>
            </mat-card>
  
      </div>
  
  </div>
  
  
  
  
  
  <br>
  <br>
  <br>
  <br>
  <br>
<!-- 
  <h1>IOS 10 style image shadow<br /><span>With CSS</span></h1>

  <div class="image-shadow js-tilt-container" style="background-image:url(https://s3-us-west-2.amazonaws.com/s.cdpn.io/385126/600.jpg)">
  
  </div>
  <div class="light"></div>
   -->
    
  
  <br>
  <br>
  <br>
  <br>
  
  
  
  
  <div fxLayoutAlign="end"   >
      <button mdc-fab  class="open-button" onclick="openForm('myForm');"  >
          <mdc-icon>insert_comment</mdc-icon>
      </button>
      
      
      </div>
  
  
      <div  class="chat-popup" id="myForm"  >
          <div fxLayoutAlign="end">
        <form  class="form-container ">
       
      <iframe id="myiFrame"
      allow="microphone;"  
      width="300"
      height="450"
      src="https://console.dialogflow.com/api-client/demo/embedded/f2a775a1-f033-46a6-83fb-952c646967c6" style="border:2px solid #7e7b7b ;" >
      </iframe>
      
      </form>
      </div>
      </div>
  
  
  
  
  
  </mat-card>
  
  
  

  
  
  
  
  
  
  
  
  
  
  
  
  
  
  
  

<!-- </mat-card> -->




























































<div class="margin-auto demo-div box-shadow" [ngStyle]="{'width':sliderWidth+'px', 'min-height': sliderImageHeight+'px'}">
        <ng-image-slider *ngIf="showSlider" #nav
            [images]="imageObject"
            [infinite]="sliderInfinite"
            [imagePopup]="sliderImagePopup"
            [showArrow]="sliderArrowShow"
            [imageSize]="{width: sliderImageWidth, height: sliderImageHeight}"
            
            [autoSlide]="sliderAutoSlide ? 1 : 0"
            [slideImage]="+sliderSlideImage"
            [animationSpeed]="sliderAnimationSpeed"
            (imageClick)="imageOnClick($event)"
            (arrowClick)="arrowOnClick($event)"
            (lightboxArrowClick)="lightboxArrowClick($event)">
        </ng-image-slider>
    </div>