a {
    text-decoration: none;
    color: white;
}
 
a:hover, a:active{
    color: lightgray;
}
 
.nav-caption{
    display: inline-block;
    padding-left: 6px;
}


.branding {
    cursor: pointer;
    overflow: hidden;
    padding-top: 4px;
    text-overflow: ellipsis;
    // position: fixed;

    &.center {
      text-align: center;
    }
    img {
        position: relative;
        top: -2px;
        width: 60px;
      height: 60px;
        // margin-left: 30px;
      // margin-top: 10px;
      }
    }

    