<div >
    <h1 mat-dialog-title>Hi {{data.name}}</h1>
    <p>Save your favorite Drinks Here....!<mat-icon>insert_emoticon </mat-icon></p>
    <div mat-dialog-content>
        <mat-form-field>
            <input matInput (keyup)="applyFilter($event.target.value)"  placeholder="My Drinks" [(ngModel)]="data.animal">
          </mat-form-field>
        </div>
    
    
            <div class="example-container mat-elevation-z8">
    
                <h3 style=" font-family: 'Dancing Script', cursive;">Cold Drinks</h3>
                <table mat-table [dataSource]="dataSource"  >
       
                    <!-- Name Column -->
                    <ng-container matColumnDef="name" >
                        <th mat-header-cell *matHeaderCellDef><b>Name</b>  </th>
                        <td mat-cell *matCellDef="let element"> {{element.name}} </td>
                    </ng-container>
     
                        <!-- Weight Column -->
                        <ng-container matColumnDef="weight">
                            <th mat-header-cell *matHeaderCellDef>Rs </th>
                            <td mat-cell *matCellDef="let element"> {{element.weight}} </td>
                        </ng-container>     
       
                        
                <tr mat-header-row *matHeaderRowDef="displayedColumns; sticky: true"></tr>
                <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
            </table>
            <!-- </div>
    
    
            <div class="example-container mat-elevation-z8"> -->
            <h3 style=" font-family: 'Dancing Script', cursive;">Hot Drinks</h3>
            <table mat-table [dataSource]="dataSource1"  >
    
                <!-- Name Column -->
                <ng-container matColumnDef="name" >
                    <th mat-header-cell *matHeaderCellDef><b>Name</b>  </th>
                    <td mat-cell *matCellDef="let element"> {{element.name1}} </td>
                </ng-container>
    
                    <!-- Weight Column -->
                    <ng-container matColumnDef="weight">
                        <th mat-header-cell *matHeaderCellDef>Rs </th>
                        <td mat-cell *matCellDef="let element"> {{element.weight1}} </td>
                    </ng-container>     
    
                    
            <tr mat-header-row *matHeaderRowDef="displayedColumns; sticky: true"></tr>
            <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
        </table>
   
            </div>

            <div   fxLayoutAlign="end">
    
                    <div mat-dialog-actions>
                    <button mat-button (click)="onNoClick()">No Thanks</button>
                    <button mat-button [mat-dialog-close]="data.animal" cdkFocusInitial>Ok</button>
                    </div>
                
    
            </div>
        </div>
    