  mat-card{
    padding: 0%;
    background-color: transparent;

    .container1{
      display: flex;
      flex-flow: row wrap;
      -webkit-box-orient: horizontal;
      -ms-box-orient:horizontal;
      -moz-box-orient:horizontal;
      -webkit-box-direction: normal;
      -ms-box-direction: normal;
      -moz-box-direction: normal;
      
      flex: 1 1 1;
      box-sizing: border-box;
      -webkit-box-flex: 1;
      -ms-box-flex: 1;
      -moz-box-flex: 1;
      
      width: 100%;
      max-width: 100%;
      position: relative;
      border-radius: 2px;
      padding: 0px;
      margin: 0px 0px 0px 0px;
      background-color: transparent;
      align-items: center;
      height: 450px;
      
      
      p{
        position: absolute;
       
        margin-top:-180px;
        font-size: 30px;
        font-family: cursive;
        -webkit-transition: width 2s; /* For Safari 3.1 to 6.0 */
      transition: width 2s;
      color: red;
    }
    p:hover {
      width: 300px;
    }
    

      



    .card-item1{
      flex: 1;
      box-sizing: border-box;
      -webkit-box-flex: 1;
      -ms-box-flex: 1;
      -moz-box-flex: 1;
      padding: 0px;
      width: 150px;
      margin-bottom: 0px;
      background-color: transparent;
      border-radius: 50%;
    
      img{
        height: 150px;
        border-radius: 50%;
      }
    
    }
    }
    
    




    mat-tab-group{
     
      color:black;
      height: 100%;
      tab-size: 10px;
      background-color: lightgray;
      mat-tab{
      
        background-color: greenyellow;
        height: 100%;
       
      }
    }


    .mod{
      max-width: 100%;
      
            .advancedSearchTextbox{
              width: 250px;
            }
          }




    .container{
      display: flex;
      flex-flow: row wrap;
      -webkit-box-orient: horizontal;
      -ms-box-orient:horizontal;
      -moz-box-orient:horizontal;
      -webkit-box-direction: normal;
      -ms-box-direction: normal;
      -moz-box-direction: normal;
      
      flex: 1 1 1;
      box-sizing: border-box;
      -webkit-box-flex: 1;
      -ms-box-flex: 1;
      -moz-box-flex: 1;
      
      width: 1540px;
      max-width: 100%;
      position: relative;
      border-radius: 2px;
      padding: 10px 10px 30px;
      margin: 10px 10px 10px 10px;
     
      align-items: center;
      
    }
    
    .card-item{
      flex: 1;
      box-sizing: border-box;
      -webkit-box-flex: 1;
      -ms-box-flex: 1;
      -moz-box-flex: 1;
      padding: 3px 3px 3px 3px;
      width: 350px;
      margin-bottom: 20px;
      img{
        height: 302px;
      }
    }

    .card-item:hover {
      transform: scale(1.1); /* (150% zoom - Note: if the zoom is too large, it will go outside of the viewport) */
    }
    




    .container1 {
      position: relative;
      text-align: center;
      color: black;
    
      .centered {
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        
       
      }
    }



    a{
      font-family: "Times New Roman", Times, serif;
      font-size: 60px;
      // color: #fff!important;
      border-style: solid none solid none;
      // border-style: dotted dashed solid double;
      // p.none {border-style: none;}   way to give border
    }




    img{
      width: 100%;
    }

    


    
  
  }


  .open-button {
    padding: 16px 20px;
    border: none;
    cursor: pointer;
    // opacity: 0.8;
    position: fixed;
    bottom: 23px;
    
    }
    
    
    
    
    
    
    
    
    .chat-popup {
      display: none;
      outline: none;
      position: fixed;
      bottom: 0;
      right: 15px;
      // border: 3px solid #7e7b7b;
      border:none;
      z-index: 9;
      flex-shrink: inherit;
      overflow: auto;
      // resize: both;
      height: 550px;
      width: 400px;
      // overflow:auto;
      // transform:rotate(180deg);
      direction:ltr;
      // padding-right:53px;
    //  background-color: yellow;
     margin-right:53px;
    
    }
    
    
    
    
    
    
    /* Add styles to the form container */
    .form-container {
      // max-width: 400px;
      // padding: 10px;
      background-color: transparent;
       height: 490px;
       width: 300px;
     
    }
    



































































































































    // .head{
    //   height: 360px;
    //   padding: 0%;
    //   background-color: red;
    //   width: 100%;
      
      
    // }



/////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////
/* Container holding the image and the text */
// .container1 {
//   position: relative;
//   text-align: center;
//   color: black;

//   .centered {
//     position: absolute;
//     top: 50%;
//     left: 50%;
//     transform: translate(-50%, -50%);
    
   
//   }
// }



/* Centered text */





// /* Bottom left text */
// .bottom-left {
//   position: absolute;
//   bottom: 8px;
//   left: 16px;
// }

// /* Top left text */
// .top-left {
//   position: absolute;
//   top: 8px;
//   left: 16px;
// }

// /* Top right text */
// .top-right {
//   position: absolute;
//   top: 8px;
//   right: 16px;
// }

// /* Bottom right text */
// .bottom-right {
//   position: absolute;
//   bottom: 8px;
//   right: 16px;
// }
//////////////////////////////////////////////////////////////////////////////////////////////////////////////





// a{
//   font-family: "Times New Roman", Times, serif;
//   font-size: 60px;
//   // color: #fff!important;
//   border-style: solid none solid none;
//   // border-style: dotted dashed solid double;
//   // p.none {border-style: none;}   way to give border
// }























mat-card{
  padding: 0%;
  

  img{
    width: 100%;
  }
  .head{
    height: 360px;
    padding: 0%;
    background-color: red;
    width: 100%;
    
    
  }
  mat-tab-group{
   
    color:black;
    height: 100%;
    tab-size: 10px;
    font-family: 'Dancing Script', cursive;

    mat-tab{
      color: red;
      background-color: greenyellow;
      height: 100%;
      font-family: 'Dancing Script', cursive;
    }
  }


  .mod{
max-width: 100%;

    .advancedSearchTextbox{
      width: 250px;
    }
  }

}


.container{
  font-family: 'Dancing Script', cursive;
  width: 500px;

}
.example-container {
  height: 400px;
  overflow: auto;
}

table {
  text-align: center !important;
  width: 100%;
  font-family: 'Dancing Script', cursive;
}

.mat-header-cell {
  text-align: center !important;
  font-family: 'Dancing Script', cursive;
  font-size: 15px;
}

mat-dialog-title{
  font-family: 'Dancing Script', cursive;
}
button{
  font-family: 'Dancing Script', cursive;

}
input{
  font-family: 'Dancing Script', cursive;
}
p{
  font-family: 'Dancing Script', cursive;
}
h1{
  font-family: 'Dancing Script', cursive;
}

.example-button-row button,
 .example-button-row a {
margin-right: 8px;
}












.example-card {
  max-width: 400px;
}

.example-header-image {
  background-image: url('https://material.angular.io/assets/img/examples/shiba1.jpg');
  background-size: cover;
}









.example-chip-list {
width: 100%;
}














.container{
display: flex;
flex-flow: row wrap;
-webkit-box-orient: horizontal;
-ms-box-orient:horizontal;
-moz-box-orient:horizontal;
-webkit-box-direction: normal;
-ms-box-direction: normal;
-moz-box-direction: normal;

flex: 1 1 1;
box-sizing: border-box;
-webkit-box-flex: 1;
-ms-box-flex: 1;
-moz-box-flex: 1;

width: 1540px;
max-width: 100%;
position: relative;
border-radius: 2px;
padding: 10px 10px 30px;
margin: 10px 10px 10px 10px;
// background-color: #f5f5f5;
align-items: center;

}

.card-item{
flex: 1;
box-sizing: border-box;
-webkit-box-flex: 1;
-ms-box-flex: 1;
-moz-box-flex: 1;
padding: 3px 3px 3px 3px;
width: 350px;
margin-bottom: 20px;
img{
  height: 350px;
}

}






.card-item:hover {
transform: scale(1.1); /* (150% zoom - Note: if the zoom is too large, it will go outside of the viewport) */
}



.container1 {
position: relative;
text-align: center;
color: black;

.centered {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  
 
}
}






a{
font-family: "Times New Roman", Times, serif;
font-size: 60px;
// color: #fff!important;
border-style: solid none solid none;
// border-style: dotted dashed solid double;
// p.none {border-style: none;}   way to give border
}