<mat-card>
  <div  class="container1" fxLayout="row"   fxLayoutGap="10px"  fxLayoutAlign="center center" >
    <!-- <img src="../../assets/mod.jpg"> -->
    <p fxLayoutAlign="center center">  Meal Of The Day</p>
  <div   *ngFor="let emp of interfacesBrief" fxLayout="column"> 
      <mat-card class="card-item1" >
          <img [src]="emp.pic">

 
   

      </mat-card>
  </div>
  





  </div>

  <div fxLayoutAlign="end"   >
      <button mdc-fab  class="open-button" onclick="openForm('myForm');"  >
          <mdc-icon>insert_comment</mdc-icon>
      </button>
    
    </div>


             
    <div  class="chat-popup" id="myForm"  >
        <div fxLayoutAlign="end">
      <form  class="form-container ">
   <iframe id="myiFrame"
    allow="microphone;"  
    width="300"
    height="450"
    src="https://console.dialogflow.com/api-client/demo/embedded/f2a775a1-f033-46a6-83fb-952c646967c6" style="border:2px solid #7e7b7b ;" >
    </iframe>
    
    </form>
    </div>
    </div>




<mat-tab-group   mat-stretch-tabs mat-align-tabs="center" animationDuration="2000ms">
<mat-tab label="MEAL OF THE DAY">
    <div class="mod" fxLayout="column" fxLayout.xs="column" fxLayoutAlign=" center">


        <p> Refine your search here</p>
      
        <input [(ngModel)]="searchText" placeholder="Search.." class="advancedSearchTextbox">
        <p></p>
     







        <div  class="container" fxLayout="row" fxLayout.xs="column" fxLayoutGap="30px"   >

        

            <div   *ngFor="let emp of interfacesBrief | grdFilter: {name: searchText, price:searchText, blog:searchText}; let i=index;">
            <div >
                <mat-card class="card-item" >
                  <mat-card-title>
                    <img [src]="emp.pic" routerLink= "{{emp.field}}/{{emp.id}}/">
                  </mat-card-title>
                  <mat-card-subtitle >
                      <code fxLayout="row" fxLayoutAlign="center center" >{{emp.name}}</code><code fxLayout="row" fxLayoutAlign="center center" >{{emp.price}}₹</code>
                  </mat-card-subtitle>


                </mat-card>
               
            </div>
     
            
   
                 
        
              </div>




          </div>
           

    </div>



</mat-tab>




<mat-tab label="FOOD">
  
  
    <div class="mod" fxLayout="column" fxLayout.xs="column" fxLayoutAlign=" center">


        <p> Refine your search here</p>
      
        <input [(ngModel)]="searchText" placeholder="Search.." class="advancedSearchTextbox">
        <p></p>
        <div class="container" fxLayout="row" fxLayout.xs="column" fxLayoutGap="30px"   >
            <div  *ngFor="let emp of interfacesBrief1 | grdFilter: {name: searchText, price:searchText, blog:searchText}; let i=index;">
            <div colspan="2" rowspan="2">
                <mat-card class="card-item" >
                  <mat-card-title>
                    <img [src]="emp.pic" routerLink= "{{emp.field}}/{{emp.id}}">
                  </mat-card-title>
                  <mat-card-subtitle rtl>
                      <code fxLayout="row" fxLayoutAlign="center center" >{{emp.name}}</code><code fxLayout="row" fxLayoutAlign="center center" >{{emp.price}}₹</code>
                  </mat-card-subtitle>
                  
                </mat-card>
              </div>
            </div>
          </div>



    </div>


</mat-tab>
<mat-tab label="BEVERAGES">
  
  
    <div class="mod" fxLayout="column" fxLayout.xs="column" fxLayoutAlign=" center">


        <p> Refine your search here</p>
      
        <input [(ngModel)]="searchText" placeholder="Search.." class="advancedSearchTextbox">
        <p></p>
        <div class="container" fxLayout="row" fxLayout.xs="column" fxLayoutGap="30px"   >
            <div  *ngFor="let emp of interfacesBrief2 | grdFilter: {name: searchText, price:searchText, blog:searchText}; let i=index;">
            <div colspan="2" rowspan="2">
                <mat-card class="card-item" >
                  <mat-card-title>
                      <img [src]="emp.pic" routerLink= "{{emp.field}}/{{emp.id}}/">
                  </mat-card-title>
                  <mat-card-subtitle rtl>
                      <code fxLayout="row" fxLayoutAlign="center center" >{{emp.name}}</code><code fxLayout="row" fxLayoutAlign="center center" >{{emp.price}}₹</code>
                  </mat-card-subtitle>
                  
                </mat-card>
              </div>
            </div>
          </div>



    </div>


</mat-tab>
<mat-tab label="COMBOS">
    <div class="mod" fxLayout="column" fxLayout.xs="column" fxLayoutAlign=" center">


        <p> Refine your search here</p>
      
        <input [(ngModel)]="searchText" placeholder="Search.." class="advancedSearchTextbox">
        <p></p>
        <div class="container" fxLayout="row" fxLayout.xs="column" fxLayoutGap="30px"   >
            <div  *ngFor="let emp of interfacesBrief3 | grdFilter: {name: searchText, price:searchText, blog:searchText}; let i=index;">
            <div colspan="2" rowspan="2">
                <mat-card class="card-item" >
                  <mat-card-title>
                      <img [src]="emp.pic" routerLink= "{{emp.field}}/{{emp.id}}/">
                  </mat-card-title>
                  <mat-card-subtitle rtl>
                      <code fxLayout="row" fxLayoutAlign="center center" >{{emp.name}}</code><code fxLayout="row" fxLayoutAlign="center center" >{{emp.price}}₹</code>
                  </mat-card-subtitle>

                </mat-card>
              </div>
            </div>
          </div>
       
    </div>
  
</mat-tab>


  
   


</mat-tab-group>





</mat-card>


  






















































































<!-- <mat-tab-group animationDuration="2000ms" mat-align-tabs="center" color="primary" backgroundColor="accent" mat-stretch-tabs class="example-stretched-tabs mat-elevation-z4">
    <mat-tab label=" WHATS NEW" fxLayout="row" fxLayout.xs="column">
        <div fxLayout="row" fxLayout.xs="column"fxLayoutGap="10%" fxLayoutAlign="center center">


            <mat-card class="example-card">
                <mat-card-header>
                  <div mat-card-avatar class="example-header-image"></div>
                  <mat-card-title>Shiba Inu</mat-card-title>
                  <mat-card-subtitle>Dog Breed</mat-card-subtitle>
                </mat-card-header>
                <img mat-card-image src="https://material.angular.io/assets/img/examples/shiba2.jpg" alt="Photo of a Shiba Inu">
                <mat-card-content>
                  <p>
                    The Shiba Inu is the smallest of the six original and distinct spitz breeds of dog from Japan.
                    A small, agile dog that copes very well with mountainous terrain, the Shiba Inu was originally
                    bred for hunting.
                  </p>
                </mat-card-content>
                <mat-card-actions>
                  <button mat-button>LIKE</button>
                  <button mat-button>SHARE</button>
                </mat-card-actions>
              </mat-card>


              <mat-card class="example-card">
                  <mat-card-header>
                    <div mat-card-avatar class="example-header-image"></div>
                    <mat-card-title>Shiba Inu</mat-card-title>
                    <mat-card-subtitle>Dog Breed</mat-card-subtitle>
                  </mat-card-header>
                  <img mat-card-image src="https://material.angular.io/assets/img/examples/shiba2.jpg" alt="Photo of a Shiba Inu">
                  <mat-card-content>
                    <p>
                      The Shiba Inu is the smallest of the six original and distinct spitz breeds of dog from Japan.
                      A small, agile dog that copes very well with mountainous terrain, the Shiba Inu was originally
                      bred for hunting.
                    </p>
                  </mat-card-content>
                  <mat-card-actions>
                    <button mat-button>LIKE</button>
                    <button mat-button>SHARE</button>
                  </mat-card-actions>
                </mat-card>
                <mat-card class="example-card">
                    <mat-card-header>
                      <div mat-card-avatar class="example-header-image"></div>
                      <mat-card-title>Shiba Inu</mat-card-title>
                      <mat-card-subtitle>Dog Breed</mat-card-subtitle>
                    </mat-card-header>
                    <img mat-card-image src="https://material.angular.io/assets/img/examples/shiba2.jpg" alt="Photo of a Shiba Inu">
                    <mat-card-content>
                      <p>
                        The Shiba Inu is the smallest of the six original and distinct spitz breeds of dog from Japan.
                        A small, agile dog that copes very well with mountainous terrain, the Shiba Inu was originally
                        bred for hunting.
                      </p>
                    </mat-card-content>
                    <mat-card-actions>
                      <button mat-button>LIKE</button>
                      <button mat-button>SHARE</button>
                    </mat-card-actions>
                  </mat-card>









            
          </div>
    </mat-tab>




    <mat-tab label="FOOD"> 

    <a style="box-align: center">Refine your search here</a>

         
    </mat-tab>

    <mat-tab label="BEVERAGES" > 
     <div fxLayout="row" fxLayout.xs="column" fxLayoutWrap fxLayoutGap="0.5%" fxLayoutAlign="center">
          <mat-card class="card-picture" *ngFor="let picture of pictures" fxFlex="20%">
            <mat-card-title fxLayout.gt-xs="row" fxLayout.xs="column">
              <span fxFlex="80%">{{picture.title}}</span>
              <mat-icon fxFlex="10%">mode_edit</mat-icon>
              <mat-icon fxFlex="10%">delete</mat-icon>
            </mat-card-title>

          </mat-card>
        </div>
    </mat-tab>
    <mat-tab label="COMBOS"> Content 3 </mat-tab>

  

    <mat-tab label="HOME DELIVERY"> 
        <div class="fuse-card">

            <img src="../../assets/aaa.jpg">
        
            <div class="p-16">
                <div class="h1">Kangaroo Valley Safari</div>
                <div class="h4 secondary-text">Free on Thursdays</div>
            </div>
        
        </div>
    
    
    </mat-tab>

    <mat-tab label=" NUTRITIONAL INFO"> 


        <div layout="row" layout-xs="column">
            <div flex="">
              I'm above on mobile, and to the left on larger devices.
            </div>
            <div flex="">
              I'm below on mobile, and to the right on larger devices.
            </div>
          </div>
    </mat-tab>

  </mat-tab-group> -->

















































































































































<!-- <div fxLayout="row" fxLayout.xs="column" fxLayoutWrap fxLayoutGap="0%" fxLayoutAlign="center"> -->












<!-- <div class="col-md-10 ml-auto col-xl-6 mr-auto">
<p class="category">Tabs with Background on Card</p> -->
<!-- Tabs with Background on Card -->
<!-- <div class="card">
  <div class="nav-tabs-navigation" data-tabs-color="orange">
      <div class="nav-tabs-wrapper">
          <ngb-tabset [justify]="'center'" class="text-center" >
              <ngb-tab title="Home">
                <ng-template ngbTabContent>
                  <p>I think that’s a responsibility that I have, to push possibilities, to show people, this is the level that things could be at. So when you get something that has the name Kanye West on it, it’s supposed to be pushing the furthest possibilities. I will be the leader of a company that ends up being worth billions of dollars, because I got the answers. I understand culture. I am the nucleus.</p>
                </ng-template>
              </ngb-tab>
              <ngb-tab title="Profile">
                <ng-template ngbTabContent>
                    <p> I will be the leader of a company that ends up being worth billions of dollars, because I got the answers. I understand culture. I am the nucleus. I think that’s a responsibility that I have, to push possibilities, to show people, this is the level that things could be at. I think that’s a responsibility that I have, to push possibilities, to show people, this is the level that things could be at. </p>
                </ng-template>
              </ngb-tab>
              <ngb-tab title="Messages">
                <ng-template ngbTabContent>
                    <p>I think that’s a responsibility that I have, to push possibilities, to show people, this is the level that things could be at. So when you get something that has the name Kanye West on it, it’s supposed to be pushing the furthest possibilities. I will be the leader of a company that ends up being worth billions of dollars, because I got the answers. I understand culture. I am the nucleus.</p>
                </ng-template>
              </ngb-tab>
              <ngb-tab title="Settings">
                  <ng-template ngbTabContent>
                    <p>
                        "I will be the leader of a company that ends up being worth billions of dollars, because I got the answers. I understand culture. I am the nucleus. I think that’s a responsibility that I have, to push possibilities, to show people, this is the level that things could be at."
                    </p>
                  </ng-template>
              </ngb-tab>
          </ngb-tabset>
      </div>
  </div>
</div> -->
<!-- End Tabs on plain Card -->
<!-- </div> -->













































































<!-- 


















<mat-card fxLayout="row" fxFlex="33" >



    
    



  </mat-card>
  <mat-card fxLayout="row" fxFlex="33" >







    </mat-card>
    <mat-card fxLayout="row" fxFlex="34" >







      </mat-card>
</div> -->