
<div class="container1 w3-container" style="padding: 0px">
  <img class="head" src="../../assets/aaa.jpg" >
  <!-- <div class="bottom-left">Bottom Left</div> -->
  <!-- <div class="top-left">Top Left</div> -->
  <!-- <div class="top-right">Top Right</div> -->
  <!-- <div class="bottom-right">Bottom Right</div> -->
  <div class="centered" rtl><a class="w3-center w3-animate-top">Contact Us</a></div>
  
  
</div>


<div class="body" fxLayout="row" fxLayout.xs="column" fxLayoutGap="0px">

        

                <mat-card  class="card-item" fxFlex="60">
                                <div class="mapouter">
                                    <div class="gmap_canvas">
                                        <iframe width="100%" height="520" id="gmap_canvas" src="https://maps.google.com/maps?q=Foodies%20Place%2C%20Singasandra%2C%20Bengaluru%2C%20Karnataka%20560068&t=&z=13&ie=UTF8&iwloc=&output=embed" frameborder="0" scrolling="no" marginheight="0" marginwidth="0">
                                        </iframe>

                                    </div>
                                   
                                    </div>
                </mat-card>
        
        

        <mat-card class="mtcrd"   fxFlex="40">
            <div class="boader">
                  <mat-card-header fxLayoutAlign="center center" color="primary" >
                          <h2>
                                  Contact us
                          </h2>
                  </mat-card-header>
                  
                       
                <form class="text-center" style="color: #757575;" [formGroup]="contactForm" (ngSubmit)="onSubmit()">
                <div class="example-container"  >          
                          <mat-form-field>
                            <input type="text" formControlName="name" matInput placeholder="Name" required [(ngModel)]="message.name">
                          </mat-form-field>
  
                          <mat-form-field>
                                  <input type="email" formControlName="from_email" required [(ngModel)]="message.from_email" matInput placeholder="E-mail">
                          </mat-form-field>
                          <label fxLayoutAlign="center center">Subject</label>
                          <mat-form-field>
                                  
                            <mat-select formControlName="subject" required [(ngModel)]="message.subject" placeholder="Choose Your Option">
                              <!-- <mat-option value="" disabled>Choose Option</mat-option>
                              <mat-option value="1" selected>Feedback</mat-option>
                              <mat-option value="2">Report a bug</mat-option>
                              <mat-option value="3">Feature request</mat-option> -->
                              <mat-option *ngFor="let food of foods" [value]="food.value">
                                        {{food.viewValue}}
                                      </mat-option>
                              
                            </mat-select>
                          </mat-form-field>
  
                          <mat-form-field>
                                  <textarea type="text" formControlName="message" required [(ngModel)]="message.message" matInput placeholder="Message"></textarea>
                          </mat-form-field>
                          

                          <!-- <div class="row">
                                        <div class="col-md-6 mx-auto d-flex justify-content-center">
                                          <mdb-checkbox formControlName="contactFormCopy">Send me a copy of this message</mdb-checkbox>
                                        </div>
                                      </div> -->
                          <button type="submit" [disabled]="disabledSubmitButton" mat-raised-button style="background-color: #757575;">Send</button>
                    
                        </div>
                </form>
                        
                       
                      </div>
            
                      
 





                      

          </mat-card>

          <div fxLayoutAlign="end"   >
              <button mdc-fab  class="open-button" onclick="openForm('myForm');"  >
                  <mdc-icon>insert_comment</mdc-icon>
              </button>
              
              
              </div>
              
    <div  class="chat-popup" id="myForm"  >
        <div fxLayoutAlign="end">
      <form  class="form-container ">
     
    <iframe id="myiFrame"
    allow="microphone;"  
    width="300"
    height="450"
    src="https://console.dialogflow.com/api-client/demo/embedded/f2a775a1-f033-46a6-83fb-952c646967c6" style="border:2px solid #7e7b7b ;" >
    </iframe>
                           
        </form>
     </div>
    </div>


       
</div>

<!-- <div style="width: 100%">
    <mat-card fxLayout="column" fxLayoutAlign="center center">
            <h2>Corporate Office</h2>
            <p>Plot No. 825, Udyog Vihar, Phase - V</p>
           
            <p>Gurgaon - 122016, Haryana, India</p>
            <p>Boardline</p>
            <p>+91-124-4235057 / 58</p> 
    </mat-card>
        
</div> -->
<div>

</div>