
<!-- *ngFor="let article of mArticles" -->
    <mat-card class="example-card"  >
      <mat-card-header>
        <!-- <div mat-card-avatar [ngStyle]="{'background-image': 'url(../assets/images/'+ article.source.id +'.png)'}" class="example-header-image"></div> -->
        <mat-card-title class="title">article.title</mat-card-title>
        <mat-card-subtitle>article.source.name</mat-card-subtitle>
      </mat-card-header>
      <img mat-card-image class="img-article" src="../../../assets/aaa.jpg" alt="">
      <mat-card-content>
        <p>
          
        </p>
      </mat-card-content>
      <mat-card-actions class="action-buttons">
        <button mat-button color="primary"><mat-icon>thumb_up_alt</mat-icon> 12 Likes</button>
        <button mat-button color="primary"><mat-icon>comment</mat-icon> Comments</button>
        <button mat-button color="primary"><mat-icon>share</mat-icon> Share</button>
     
      </mat-card-actions>
    </mat-card>
    
