form{
    font-family: 'Dancing Script', cursive;
    width: 300px;
    align-items: center;
    min-height: 300px;
}
h3{
    font-family: 'Dancing Script', cursive;
    text-align: center;


 
    background-color: black;
    width: 100%;
    color: white;
}
.form-group{
    width: 300px;
    max-width: 100%;

    text-align: center;

}


.submitbutton{
    width: 100%;

}

// .body{
//     min-height: 200px;
// }