
.black{
    position:fixed;
    top:0;
    background:#333;
    width:100%;
    height:50px;
    z-index: 100;
    
  }

  
  .blue{
    position:fixed;
    top:0;
    background:blue;
    width:100%;
    height:50px;
    z-index: 100;
  }




button{
    color:gray;
    // background-color:gray;
    
}

mat-menu{
    padding: 0px;
    background-color: gray;
    color: #000;
    // height: 300px;
}






a {
    // text-decoration: gotham-book;
    color:black;
    font-family: 'Dancing Script', cursive;
    text-decoration: brown;
    font-size: 17px;

  
}


 
a:hover, a:active{
    // color:red;
    
    color: #000;
    
}
 
.navigation-items{
    list-style-type: none;
    padding: 0;
    margin: 0;
   
}
 
mat-toolbar{
    border-radius: 3px;
    height: 89px;
    position: fixed;
    background-color: transparent;
    text-decoration: white;
}
 
@media(max-width: 959px){
    mat-toolbar{
        border-radius: 0px;
    }
}


img{
    position: relative;
    top: -2px;
    width: 75px;
    height: 75px;
  
    }

.head{
    height: 90px;
    border-style: none none ridge none;
}

.material-icons
{
    color:black;
}












.im{
    padding: 0px 0px 0px 0px;
  border-radius: 100px 100px 100px 100px;
  height: 30px;
  width: 30px;
  -ms-zoom-animation: 1;
  background-color: #000;

}
