
<script>

                $(document).ready(function(){
                  $(window).scroll(function(){
                          var scroll = $(window).scrollTop();
                          if (scroll > 30) {
                            $(".black").css("background" , "blue");
                          }
                
                          else{
                                  $(".black").css("background" , "#333");  	
                          }
                  })
                })
</script>
                
               
                
<div class="head">
        <mat-toolbar >
                <div fxFlex fxLayout="row" fxLayoutAlign="start" fxHide.gt-xs >
                        <button mat-icon-button (click)="onToggleSidenav()">
                                <mat-icon>menu</mat-icon>
                         </button>
                </div>
                <div fxFlex fxLayout="row" fxLayoutAlign="center center"  fxHide.gt-xs >
                                    
                                            
                        <a routerLink="/home"><img src="../../../assets/logo.jpeg" /></a>
                </div>
                <div fxFlex fxLayout="row" fxLayoutAlign="end" fxHide.gt-xs>
                                    
                        <i *ngIf="!currentUser">
                                <i (click)="openDialog()" class="material-icons">account_circle</i>
                                                        <!-- <button mat-raised-button (click)="openDialog()">Pick one</button> -->
                                </i>
                                <i *ngIf="currentUser">
                                        <img class="im" mat-button [matMenuTriggerFor]="menu" src="http://127.0.0.1:8000{{currentUser.file}}" />
                                                     
                                                        <!-- <button mat-button [matMenuTriggerFor]="menu">{{currentUser.username}}</button> -->
                                             
                                        <mat-menu #menu="matMenu" >
                                                <button mat-menu-item  routerLink="profile/{{currentUser.id}}"><img style="height: 20px; width: 20px;margin-right: 10px" src="../../../assets/profile.png">My Profile</button>
                                                <button (click)="changepassword()" mat-menu-item><img style="height: 20px; width: 20px;margin-right: 10px" src="../../../assets/change.png">change password</button>
                                                <button (click)="logout()" mat-menu-item><img style="height: 20px; width: 20px;margin-right: 10px" src="../../../assets/logout.png">Logout</button>
                                                            
                                        </mat-menu>
                                </i>         
                </div>
<div fxFlex fxLayout="row" fxLayoutGap="15px" fxLayoutAlign="start center"  fxHide.xs>
        <a routerLink="/home"><img style="margin-left: 10px;" src="../../../assets/logo.jpeg" /></a>
        <ul fxLayout fxLayoutGap="15px" class="navigation-items" >
                <li>
                        <a routerLink="/menu"  mat-button>Menu</a>
                </li>
                <li>
                        <a routerLink="/about" mat-button>About Us</a>
                </li>
                <li>
                        <a routerLink="/gallery" mat-button>Gallery</a>
                </li>
                <li>
                        <a routerLink="/contact" mat-button>Contact</a>
                </li>
        </ul>
</div>
                
                           
                        
<div fxFlex fxLayout="row" fxLayoutAlign="end center"  fxHide.xs>
                        
        <ul fxLayout fxLayoutGap="20px" class="navigation-items">
                <li>
                        <i class="material-icons">search</i>
                                       
                </li>
                <li>
                        <i matBadge="1" matBadgeColor="accent" [matMenuTriggerFor]="menu" class="material-icons">notification_important</i>
                                <mat-menu  #menu="matMenu">
                                        <div  class="user-short-detail">
                                                <h4 fxLayoutAlign="center center">Notifications</h4>
                                                <p>Discover <a href="http://www.foodiesplace.in/menu">what's new</a> at foodiesplace!</p>
                                                        <br>
                                        </div>
                                </mat-menu>
                </li>
                <li *ngIf="!currentUser">
                        <i (click)="openDialog()" class="material-icons">account_circle</i>
                                                        
                </li>
                <li *ngIf="currentUser" fxLayoutAlign="center center" style="margin-bottom: 100px;">
                                                        <!-- <button mat-button  [matMenuTriggerFor]="menu">{{currentUser.username}}</button> -->
                        <img class="im" mat-button [matMenuTriggerFor]="menu" src="http://127.0.0.1:8000{{currentUser.file}}" />                                    
                        <mat-menu #menu="matMenu">
                                <button mat-menu-item  routerLink="profile/{{currentUser.id}}"><img style="height: 20px; width: 20px;margin-right: 10px" src="../../../assets/profile.png">My Profile</button>
                                <button (click)="changepassword()" mat-menu-item><img style="height: 20px; width: 20px;margin-right: 10px" src="../../../assets/change.png">change password</button>
                                <button (click)="logout()" mat-menu-item><img style="height: 20px; width: 20px;margin-right: 10px" src="../../../assets/logout.png">Logout</button>
                 
                        </mat-menu>
                </li>
        </ul>
</div>
        </mat-toolbar>
                
</div>
                
                
                
                
                
                
                
                
                
                
                
                
                
                
                
                
                
                
                
                
                
                
                
                
                
                
                
                
                
                <!-- \
                
                
                
                
                
                     -->
                