mat-card{
    
    padding: 0;
}

.image{
    height: 500px;
    width: 100%;
    max-height:100% ;
   
}

.card-item{
    height: 500px;
    width: 100%;
    max-height:100% ;
    background-color: rgb(216, 207, 197);
    font-family: 'Dancing Script', cursive;
}


.logo{
    height: 50px;
    width: 50px;
    // background-size: cover;
    // size: cover;
    
    
}

header {
    position: relative;
    background-color: black;
    height: 75vh;
    min-height: 25rem;
    width: 100%;
    overflow: hidden;
  }
  