// .body{
//     // background-color: gray;
// }






h2{
    text-align: center;
    font-family: 'Dancing Script', cursive;
    background-color: black;
    width: 100%;
    color: white;
}
.form-group{
    font-family: 'Dancing Script', cursive;
    align-items: center;
    align-content: center;
    // background-color: gray;
    text-align: center;
}



.loginbutton{
    width: 100%;
    background-color: black;
    color:white;
}

.registerbutton{
    width: 100%;
    font-family: 'Dancing Script', cursive;
    background-color:  black;
    color: white;
}