<!-- {% csrf_token %} -->
<script type="text/javascript">
    // using jQuery
    var csrftoken = jQuery("[name=csrfmiddlewaretoken]").val();
    </script>
<h2>Forget Password</h2>
<div class="body"  >
<form [formGroup]="fgtpwdForm" (ngSubmit)="onSubmit()">
    <div class="form-group">
        <label for="email">Email address</label>
        <input type="email" formControlName="email" class="form-control" [ngClass]="{ 'is-invalid': submitted && f.old_password.errors }"   />
        <div *ngIf="submitted && f.email.errors" class="invalid-feedback">
            <div *ngIf="f.email.errors.required">Email address is required</div>
        </div>
    </div>

    <div class="form-group" fxLayoutAlign="center center">
        <button  class="btn btn-primary" class="loginbutton" >
          
            Forget Password
        </button>
        <p  [hidden]=!Submited>check your Email address</p>
    </div>
    
</form>
<span fxLayoutAlign="center" style="background-color:gray;width:100%;text-align:center">** Check your Email **</span>

<!-- csrfmiddlewaretoken -->