
<!-- <div fxLayout="column" fxLayoutAlign="center center">
<h5> Upload image</h5>

<div ng2FileDrop [ngClass]="{'drop-file-over': hasBaseDropZoneOver}" (fileOver)="fileOverBase($event)" [uploader]="uploader" class="area">
<div id="dropZone">Drop files here</div>
</div>


<input type="file"  ng2FileSelect [uploader]="uploader" multiple  />

<button (click)="upload()">Upload files</button>

<h5>Your files: {{ uploader?.queue?.length }}</h5>
<ul>
<li *ngFor="let item of uploader.queue">
    {{ item?.file?.name }}
</li>
</ul>
</div> -->




<!-- <form [formGroup]="formData" > 

                                
                <div class="form-group" class="col-md-6" >
            
                    
                      <input  formControlName="username"  >
                  
              
                </div>

        [hidden]="!submitted"
     
                                
                <div class="form-group" class="col-md-6" >
                  
                      <input  formControlName="password1"   >
            
                </div>
                <div class="form-group" class="col-md-6" >
                
                      <input formControlName="password2"  >
                    
                </div>

      

</form> -->
















     
<div fxLayout="column" fxLayoutAlign="center">

            
      
            <div style="padding: 10px;"  *ngIf="response && imageURL">
              <img style="height: 100%;width: 100%;"  [src]='imageURL' />
            </div>
          
            <form fxLayout="column" [formGroup]="form" (ngSubmit)="onSubmit()">
       


              <input type="file" name="profile" (change)="onChange($event)" />
              <button type="submit">Upload Image File</button>
          
            </form>
          </div>
