
<h2>Change Password</h2>
<div class="body"  >
<form [formGroup]="setpwdForm" (ngSubmit)="onSubmit()">
    <div class="form-group">
        <label for="old_password">Old password</label>
        <input type="password" formControlName="old_password" class="form-control" [ngClass]="{ 'is-invalid': submitted && f.old_password.errors }" />
        <div *ngIf="submitted && f.old_password.errors" class="invalid-feedback">
            <div *ngIf="f.old_password.errors.required">old_password is required</div>
        </div>
    </div>
    <div class="form-group">
        <label for="new_password">Password</label>
        <input type="password" formControlName="new_password" class="form-control" [ngClass]="{ 'is-invalid': submitted && f.new_password.errors }" />
        <div *ngIf="submitted && f.password.errors" class="invalid-feedback">
            <div *ngIf="f.new_password.errors.required">new_password is required</div>
        </div>
    </div>
    <div class="form-group" fxLayoutAlign="center center" fxLayoutGap="20px">
        <button  class="btn btn-primary" class="loginbutton" >
          
            Change Password
        </button>
    </div>
    
</form>