mat-card{
  padding: 0%;
 
  img{
    width: 100%;
    size: cover;
  }
  .head{
    
    height: 360px;
      padding: 0%;
      background-color: red;
      width: 100%;
    
  }
  mat-tab-group{
    // background-color: greenyellow;
    color:black;
    height: 100%;
    tab-size: 10px;

    mat-tab{
      color: red;
      background-color: greenyellow;
      height: 100%;
     
    }
  }


  .mod{
max-width: 100%;
margin-top: 20px;
    .advancedSearchTextbox{
      width: 250px;
    }
  }

}









.example-card {
  max-width: 400px;
}

.example-header-image {
  background-image: url('https://material.angular.io/assets/img/examples/shiba1.jpg');
  background-size: cover;
}







.example-chip-list {
width: 100%;
}












.container{
display: flex;
flex-flow: row wrap;
-webkit-box-orient: horizontal;
-ms-box-orient:horizontal;
-moz-box-orient:horizontal;
-webkit-box-direction: normal;
-ms-box-direction: normal;
-moz-box-direction: normal;

flex: 1 1 1;
box-sizing: border-box;
-webkit-box-flex: 1;
-ms-box-flex: 1;
-moz-box-flex: 1;

width: 1540px;
max-width: 100%;
position: relative;
border-radius: 2px;
padding: 10px 10px 30px;
margin: 10px 10px 10px 10px;
// background-color: #f5f5f5;
align-items: center;

}

.card-item{
flex: 1;
box-sizing: border-box;
-webkit-box-flex: 1;
-ms-box-flex: 1;
-moz-box-flex: 1;
padding: 3px 3px 3px 3px;
width: 350px;
// height: 380px;

img{
  height: 302px;
}

}


.gallery{
  background-image: url('../../../assets/aaa.jpg');
  height: 100%;
  background-size: cover;
  height: 380px;
  

}
a{
  font-family: "Times New Roman", Times, serif;
  font-size: 60px;
  // color: #fff!important;
  border-style: solid none solid none;
 
}

.container1 {
  position: relative;
  text-align: center;
  color: black;

  .centered {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    
   
  }
}


h3{
  text-align:center;
}

.open-button {
  padding: 16px 20px;
  border: none;
  cursor: pointer;
  // opacity: 0.8;
  position: fixed;
  bottom: 23px;
  
  }
  
  
  
  
  
  
  
  
  .chat-popup {
    display: none;
    outline: none;
    position: fixed;
    bottom: 0;
    right: 15px;
    // border: 3px solid #7e7b7b;
    border:none;
    z-index: 9;
    flex-shrink: inherit;
    overflow: auto;
    // resize: both;
    height: 550px;
    width: 400px;
    // overflow:auto;
    // transform:rotate(180deg);
    direction:ltr;
    // padding-right:53px;
  //  background-color: yellow;
   margin-right:53px;
  
  }
  
  
  
  
  
  
  /* Add styles to the form container */
  .form-container {
    // max-width: 400px;
    // padding: 10px;
    background-color: transparent;
     height: 490px;
     width: 300px;
   
  }