
<h2>Login</h2>
<div class="body"  >
<form [formGroup]="loginForm" (ngSubmit)="onSubmit()">
    <div class="form-group">
        <label for="username">Username</label>
        <input type="text" formControlName="username" class="form-control" [ngClass]="{ 'is-invalid': submitted && f.username.errors }" />
        <div *ngIf="submitted && f.username.errors" class="invalid-feedback">
            <div *ngIf="f.username.errors.required">Username is required</div>
        </div>
    </div>
    <div class="form-group">
        <label for="password">Password</label>
        <input type="password" formControlName="password" class="form-control" [ngClass]="{ 'is-invalid': submitted && f.password.errors }" /><p (click)="openpwdrstDialog()">Forget password?</p>
        <div *ngIf="submitted && f.password.errors" class="invalid-feedback">
            <div *ngIf="f.password.errors.required">Password is required</div>
        </div>
    </div>
    <div class="form-group" fxLayoutAlign="center center" fxLayoutGap="20px">
        <button  class="btn btn-primary" class="loginbutton" >
                <!-- (click)="openSnackBar(message.value, action.value)" -->
            Login
        </button>
    </div>
    
</form>

<button (click)="openDialog()" class="registerbutton" >
    <a >
        Register
    </a>
</button> 
</div>
<!-- <div [hidden]="!submitted">
    <h4>You submitted successfully!</h4>
    <button style="background-color: black;width: 100%;" class="btn btn-success" (click)="newUser()">SignUp</button>
  </div> -->
