

<script type="application/json">
         
</script>



<script type="text/javascript">
  $(function(){
      $('#button').click(function(){ 
          if(!$('#iFramee').length) {
                  $('#iframeHolder').html('<iframe id="iFramee" src="https://console.dialogflow.com/api-client/demo/embedded/f2a775a1-f033-46a6-83fb-952c646967c6" allow="microphone;" width="350" height="430"></iframe>');
          }
      });   
  });
  </script>




<mat-card>
  


      <header>
       
                  <div class="overlay"></div>
                  <video playsinline="playsinline" autoplay="autoplay" muted="muted" loop="loop">
                    <source src="../../assets/cover.mp4" type="video/mp4">
                     
                  </video>
                  <div class="container h-100 ">
                    <div class="d-flex h-100 text-center align-items-center">
                      <div class="w-100 text-white animate fadeInUp  ">
                              

                        <h1 class="display-3 fade-in" >Welcome To Foodiesplace</h1>
                        <p class="fade-in" style="color: white; font-family: 'Dancing Script', cursive; font-size: 25px;">A Hangout Place for Food Lovers</p>
                        
                      </div>
                    </div>
                  </div>
                </header>
                
               
      

               
          <br>
          <br>
          <br>
          <br>
        <br>  
        <br>
        <br>
        <br>  
        <br>

        <div class="header show-on-scroll"  fxLayout="row"  fxLayoutAlign="center center"  fxLayout.xs="column" >
            <div >
              <h1  class="show-on-scroll" style="color: black; font-family: 'Dancing Script', cursive;  border-style: solid none solid none;">Our Menu</h1>
            </div>
      </div>

      <br>
      <br>  
    


          <ng-image-slider
 [images]="imageObject" 

        [infinite]="sliderInfinite"
        [imagePopup]="sliderImagePopup"
        [showArrow]="sliderArrowShow"
        [imageSize]="{width: sliderImageWidth, height: sliderImageHeight}"
        [autoSlide]="sliderAutoSlide ? 1 : 0"
        [slideImage]="+sliderSlideImage"
        [animationSpeed]="sliderAnimationSpeed">
        <div class="centered"></div>
      </ng-image-slider>


      <br>
      <br>  
      <br>
      <br>  
      <br>


<div class="header show-on-scroll" fxLayout.xs="column" >

    <div fxLayout="row"  fxLayoutAlign="center center"  fxLayout.xs="column" >
          <div >
            <h1  class="show-on-scroll" style="color: black; font-family: 'Dancing Script', cursive;">Why Choose Us?</h1>
          </div>
    </div>
    <br>

    <div fxLayout="row" fxLayoutAlign="center center"  fxLayout.xs="column" >
          <div >
            <h4 style="color: black; font-family: 'Dancing Script', cursive;">Taste the difference</h4>
          </div>
      </div> 
      <div class="light"></div>
</div>






     



<section id="feature" >
  <div class="container" fxLayout="row" fxLayout.xs="column" fxLayoutAlign="center stretch" fxLayoutGap="6%">
   

     
     

      <div  fxFlex="25" fxLayout="column" class="col-md-4 col-sm-6 wow fadeInUp" data-wow-delay="0.3s">
     
        <div class="feature-thumb">
          <div class="feature-icon">
             <span><i class="fa fa-cutlery"></i></span>
          </div>
          <h3 class="header show-on-scroll" style="color: black">FOOD</h3>
          <p >The secret of success in life is to eat what you like and let the food fight it out inside.</p>
        </div>
   
      </div>
      

       <div fxFlex="25" fxLayout="column" class="col-md-4 col-sm-6 wow fadeInUp" data-wow-delay="0.6s">
         
        <div class="feature-thumb">
          <div class="feature-icon">
            <span><i class="fa fa-coffee"></i></span>
          </div>
          <h3 class="header show-on-scroll" style="color: black">BEVERAGE</h3>
          <p>If you are looking for ways to eat healthy, consider what you are drinking and make sure every sip counts!</p>
        </div>
      </div> 
      

      <div  fxFlex="25" fxLayout="column" class="col-md-4 col-sm-6 wow fadeInUp" data-wow-delay="0.9s">
        <div class="feature-thumb">
          <div class="feature-icon">
            <span><i class="fa fa-birthday-cake"></i></span>
          </div>
           <h3 class="header show-on-scroll" style="color: black">SNACKS</h3>
           <p>Getting from breakfast to lunch and lunch to dinner without noshing on something is hard. We get it.</p>
        </div>
      </div> 

   
  </div>
</section>




      <br>
      <br>


      
      <div  fxLayout="row" class="header show-on-scroll" fxLayout.xs="column" fxLayoutAlign="center stretch" >

          <div fxFlex="25" fxLayout="row"  fxLayoutAlign="center center"  fxLayout.xs="column" >
                <div >
                  <h1  class="show-on-scroll" style="color: black; font-family: 'Dancing Script', cursive;">Our  Taste</h1>
                </div>
          </div>
      </div>
      <br>

      <div  fxLayout="row" class="header show-on-scroll" fxLayout.xs="column" fxLayoutAlign="center stretch" >

          <div fxFlex="65" fxLayout="row"    >
                <div >
                    <p style="color: black; font-family: 'Dancing Script', cursive; ">Taste is the number one driver of consumer choice in food and beverages. Understanding how we experience taste is fundamental to unlocking how consumers evaluate and make food choices. So what exactly do we mean by taste?Taste is the number one driver of consumer choice in food and beverages. Understanding how we experience taste is fundamental to unlocking how consumers evaluate and make food choices. So what exactly do we mean by taste?</p>
                    <p  style="color: black; font-family: 'Dancing Script', cursive;">Taste is a powerful and complex thing. It’s not just about flavour, or about sweet, salty, bitter or sour. It’s a multi-sensory human experience – a layered effect of appearance, sound, touch, basic tastes, mouthfeel and aroma – all influenced by our cultures, life stages, individual preferences and mindset.</p>
                  </div>
          </div>
      </div>


 
                  <br>
                  <br>
                     
      

                  <div class="w3-container" style="width: 100%; " fxLayout="row" fxLayout.xs="column"  fxLayoutAlign="center center"  fxLayoutGap="5%"> 
  
                      <div class="about-story" fxFlex="50" fxLayoutGap="10%" fxLayout="column" fxLayout.xs="column">
                      
                          <mat-card class="card-item">
                              <mat-card-title>
        
                                  <img class="inline-photo show-on-scroll" src="../../../assets/fourimg.jpg" fxLayoutAlign="center center">
        
                              </mat-card-title>
                              
                              
                              
                            </mat-card>
                   
                          </div>
                          </div>


      
                  <br>
                  <br>
                  <br>
                  <br>  
                  
                  <div  fxLayout="row" class="header show-on-scroll" fxLayout.xs="column" fxLayoutAlign="center stretch" >

                      <div fxFlex="25" fxLayout="row"  fxLayoutAlign="center center"  fxLayout.xs="column" >
                            <div >
                              <h1  class="show-on-scroll" style="color: black; font-family: 'Dancing Script', cursive;">Our Service</h1>
                            </div>
                      </div>
                  </div>
                      
                  <br>
                  <div  fxLayout="row" class="header show-on-scroll" fxLayout.xs="column" fxLayoutAlign="center stretch" >

                      <div fxFlex="65" fxLayout="row"    >
                            <div >
                                <p style="color: black; font-family: 'Dancing Script', cursive;">We believe that customer service can be - ought to be - an intrinsically rewarding profession. There's just something about serving people that's immensely satisfying to the human psyche.we are the hosts. It’s our job every day to make every important aspect of the customer experience a little bit better.</p>
                                <p style="color: black; font-family: 'Dancing Script', cursive;">Everyone has a purpose in life and a unique talent to give to others. And when we blend this unique talent with service to others, we experience the ecstasy and exultation of own spirit, which is the ultimate goal of all goals.
                                  </p>
                              </div>
                      </div>
                  </div>
                      
      
                  <div class="w3-container" style="width: 100%; " fxLayout="row" fxLayout.xs="column"  fxLayoutAlign="center center"  fxLayoutGap="5%"> 
  
                      <div class="about-story" fxFlex="50" fxLayoutGap="10%" fxLayout="column" fxLayout.xs="column">
                      
                          <mat-card class="card-item">
                              <mat-card-title>
        
                                  <img class="inline-photo show-on-scroll" src="../../../assets/serviceone.jpg" fxLayoutAlign="center center">
        
                              </mat-card-title>
                              
                              
                              
                            </mat-card>
                   
                          </div>
                          </div>
    
                          <br>
                          <br>


                          <div  fxLayout="row" class="header show-on-scroll" fxLayout.xs="column" fxLayoutAlign="center stretch" >

                              <div fxFlex="25" fxLayout="row"  fxLayoutAlign="center center"  fxLayout.xs="column" >
                                    <div >
                                      <h1  class="show-on-scroll" style="color: black; font-family: 'Dancing Script', cursive;">Expect the best</h1>
                                    </div>
                              </div>
                          </div>
                              
                          <br>
                          <div  fxLayout="row" class="header show-on-scroll" fxLayout.xs="column" fxLayoutAlign="center stretch" >
        
                              <div fxFlex="65" fxLayout="row"    >
                                    <div >
                                        <p style="color: black; font-family: 'Dancing Script', cursive;">We are experts in understanding how taste is created from a culinary perspective, searching the culinary world for the newest and most innovative dishes and flavours. We bring new platforms to life by translating the techniques and methods used to create authentic and delicious taste experiences.</p>

                                          <p  style="color: black; font-family: 'Dancing Script', cursive;">As consumers change, so do the foundations of taste. Globalisation, world travel and a changing multi-cultural household are opening up new taste experiences, giving consumers access to a greater variety of flavours and ethnic cuisines than ever before.</p>
                                      </div>
                              </div>
                          </div>


                          <div class="w3-container" style="width: 100%; " fxLayout="row" fxLayout.xs="column"  fxLayoutAlign="center center"  fxLayoutGap="5%"> 
  
                              <div class="about-story" fxFlex="50" fxLayoutGap="10%" fxLayout="column" fxLayout.xs="column" fxLayoutAlign="center stretch">
                              
                                  <mat-card class="card-item">
                                      <mat-card-title>
                
                                          <img class="inline-photo show-on-scroll" src="../../../assets/servicetwo.jpg"  fxLayoutAlign="center center" >
                
                                      </mat-card-title>
                                      
                                    </mat-card>
                           
                                  </div>
                                  </div>


                                  <br>
                                  <br>
                                  <br>
                                  <br>
                                  <br>
                          


                                  <div class="w3-container header show-on-scroll" style="width: 100%; " fxLayout="row" fxLayout.xs="column"   fxLayoutGap="5%" fxLayoutAlign="center stretch"> 
  
                                    <div class="about-story" fxFlex="35" fxLayoutGap="10%" fxLayoutAlign="center stretch" fxLayout="column" >
                                      
                                        <div class="card-item" >
                              
                                        <div class="img"  >
                                        <div>
                                          <h1 >
                                            CHEF'S <br>
                                            QUOTES
                                          </h1>
                                        </div>
                                          <br>
                                          <br>
                                        
                                          <p>
                                          <b>"</b> I guess I feel that I was following my instincts, and at the same time being guided by the best. I became totally intrigued with  the people, the food. It is a part of my life. Everything that has happened for me since moving here has just been icing on the cake.<b>"</b>
                                          </p>
                                          <!-- <div fxLayoutAlign="end">
                                          <p style="font-family: 'Dancing Script', cursive; font-size: 18px;" >-- Emeril Lagasse</p>
                                        </div> -->
                                        </div>


                                        <div class="header show-on-scroll"  fxLayout="row" fxLayout.xs="column"   fxLayoutGap="5%" fxLayoutAlign="start"  > 
  
                                            <div  fxFlex="30" fxLayoutGap="10%" fxLayoutAlign="start" fxLayout="column"  fxLayout.xs="column" >
                                              <br>
                                              <br>
                                              
                                                <!-- <img  src="assets/emsign.jpg"  > -->
                                                    </div>
                                                    </div>






                                
                                        
                                        </div>
                                       </div>
                                
                                
                                       <div class="about-story" fxFlex="35" fxLayoutGap="10%" fxLayout="column" >
                                   
                                             <mat-card class="card-item ">
                                              <mat-card-title>
                                                  <img  src="../../../assets/Chef.JPG" >    
                                      
                                              </mat-card-title>
                                             
                                             
                                              
                                            </mat-card>
                                          </div>
                                        </div>
                                          
<br>
<br>
<br>




<div fxLayoutAlign="end"   >
<button mdc-fab  class="open-button" onclick="openForm('myForm');"  >
    <mdc-icon>insert_comment</mdc-icon>
</button>


</div>







<div  class="chat-popup" id="myForm"  >
    <div fxLayoutAlign="end">
  <form  class="form-container ">
 
<iframe id="myiFrame"
allow="microphone;"  
width="300"
height="450"
src="https://console.dialogflow.com/api-client/demo/embedded/f2a775a1-f033-46a6-83fb-952c646967c6" style="border:2px solid #7e7b7b ;" >
</iframe>

</form>
</div>
</div>

</mat-card>




<script>




</script>



